@font-face {
    font-family: 'JetBrainsMono';
    src: url('../../assets/fonts/JetBrainsMono-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'JetBrainsMono';
    src: url('../../assets/fonts/JetBrainsMono-Bold.woff2') format('woff2');
    font-weight: bold;
    font-style: normal;
}

.JetBrainsFont {
    font-family: 'JetBrainsMono';
}
