@import "uplot/dist/uPlot.min.css";

.u-select {
  background: rgba(120, 120, 130, 0.2);
}

.u-legend {
  text-align: left;
  margin-left: 22px;
  /* display: flex;
  flex-direction: column; */
}

.u-legend .u-marker {
  width: 1.25em;
  height: 0.25em;
  border-radius: 15px;
  margin-right: 8px !important;
}

.u-legend th > * {
  font-weight: 400;
  font-size: 13px;
}

.u-cursor-line {
  background-color: red; /* Change this to the desired color */
}
