{
  "presets": [
    "@babel/env",
    "@babel/typescript",

    [
      "@babel/preset-react",
      {
        "runtime": "automatic"
      }
    ],
    ["@babel/env", { "modules": false }, "babel/env"]
  ]
}
