{
  "trailingComma": "none",
  "tabWidth": 2,
  "printWidth": 90,
  "semi": true,
  "quoteProps": "as-needed",
  "jsxSingleQuote": false,
  "bracketSpacing": true,
  "arrowParens": "always",
  "endOfLine": "lf"
}