.ant-table {
  background-color: transparent !important;
}

.ant-divider-vertical {
  height: unset !important;
}

.ant-page-header-heading-left,
.ant-page-header-heading-title {
  width: 100% !important;
}

.ant-table-thead
  > tr
  > th:not(:last-child):not(.ant-table-selection-column):not(.ant-table-row-expand-icon-cell):not([colspan]):before {
  display: none !important;
}

.ant-table-thead > tr > .ant-table-cell {
  /* background-color: var(--color-bg-secondary) !important; */
  background-color: transparent !important;
}

.ant-table-thead > tr > th {
  /* border-bottom: 1px solid var(--color-light-gray); */
  font-weight: 700 !important;
  font-size: 11px;
  text-transform: uppercase !important;
  white-space: inherit;
}

.ant-table-cell {
  font-size: 13px;
}

.ant-notification-notice {
  width: 322px;
  padding: 12px;
  border-radius: 8px;
}

.ant-notification {
  font-size: 10px !important;
}

.ant-notification-notice-with-icon .ant-notification-notice-message {
  font-size: 12px !important;
  color: white;
  font-weight: 600;
  margin: 0px !important;
  padding: 0px !important;
  margin-inline: 8px !important;
}

.ant-notification-notice-icon {
  display: none !important;
}

.ant-notification-notice-with-icon .ant-notification-notice-description {
  margin-inline: 8px !important;
  font-size: 12px !important;
  color: white;
}

.ant-notification-notice-close-x {
  color: white !important;
}

.ant-btn {
  font-size: 13px;
  line-height: 22px;
  height: 32px;
  padding: 4px 15px;
  font-weight: 600;
  border-radius: 2px;
}

.ant-table-row.ant-table-row-level-0:hover {
  background-color: var(--color-secondary) !important;
}

.ant-table-cell-row-hover {
  background-color: var(--color-bg-secondary) !important;
}

.ant-table-row.ant-table-row-level-0:hover {
  background-color: transparent !important;
}

.ant-table-placeholder {
  display: none;
}

.ant-picker-range,
.ant-picker-panel-container {
  background-color: var(--color-bg-canvas);
}

.rc-virtual-list-holder {
  background-color: var(--color-bg-canvas);
}

.ant-statistic-title {
  color: var(--text-primary);
}
