.ant-popover {
  width: 243px !important;
}

.ant-popover-inner {
  border-radius: 12px;
  background-color: var(--color-bg-primary);
}

.ant-modal-content {
  border-radius: 4px;
  background-color: #181b1f;
}

.ant-popover-inner-content {
  background-color: var(--color-bg-primary);
  border-radius: 12px;
}

.ant-modal-header {
  border-radius: 15px 15px 0px 0px;
  background-color: var(--color-bg-primary);
  /* text-align: center; */
}

.ant-drawer-right.ant-drawer-open .ant-drawer-content-wrapper {
  box-shadow: unset;
}

.layout-dashboard .ant-layout {
  background-color: var(--color-bg-canvas) !important;
  position: relative;
  min-height: 100vh;
  width: 100%;
  flex-shrink: 0;
  width: auto;
  flex-shrink: 1;
}

.ant-table {
  background-color: transparent !important;
}

.ant-tabs-tab.ant-tabs-tab-active .ant-tabs-tab-btn {
  color: #ffffff !important;
  font-weight: 600 !important;
}

.ant-tabs-tab-btn,
.ant-tabs-tab-remove {
  font-weight: 400 !important;
  color: #cccccc;
}

.ant-tabs-ink-bar {
  background-color: var(--color-secondary);
}

.ant-collapse > .ant-collapse-item > .ant-collapse-header {
  font-size: 21px;
  font-weight: 600;
}

.ant-tabs-tab-btn,
.ant-tabs-tab-remove {
  font-weight: 500;
}

.ant-tooltip-arrow-content {
  --antd-arrow-background-color: #181b1f !important;
}

.ant-tooltip-inner {
  border-radius: 2px;
  background: #181b1f !important;
  font-size: 12px !important;
  padding-inline: 12px;
}

.ant-collapse-header {
  font-size: 14px !important;
  font-weight: 400 !important;
}

.collapsed-details-header > div.ant-collapse-item > div.ant-collapse-header {
  border-bottom: 1px solid #f0f0f0 !important;
  border-radius: 5px 5px 0px 0px !important;
  font-weight: 500 !important;
  padding-left: 0px;
  font-size: 20px !important;
}

.collapsed-details-body
  > div.ant-collapse-item
  > div.ant-collapse-content
  > div.ant-collapse-content-box {
  border-top: 0px !important;
  padding-left: 0px !important;
}

.comment-card-header > .ant-card-head {
  background-color: var(--color-bg-primary);
  padding: 0px 16px !important;
}

.comment-card-header > .ant-card-body {
  padding: 16px !important;
}

.comment-card-header > .ant-card-head > .ant-card-head-wrapper > .ant-card-head-title {
  padding: 10px 0px !important;
}

.trace-card > .ant-card-body {
  padding: 9px !important;
  width: 100% !important;
  cursor: pointer;
}

.trace-card-body > .ant-card {
  border-radius: 12px !important;
}

.customized-tab-header > .ant-tabs-nav {
  background-color: var(--color-bg-secondary) !important;
  border-radius: 6px !important;
  padding-left: 12px;
  border-bottom: 0px;
  padding-top: 12px;
}

.customized-tab-body > .ant-tabs-content-holder .ant-tabs-tabpane {
  padding: 0px !important;
  border: none !important;
  padding-top: 12px !important;
}

.changelog-customized-tab-header > .customized-tab-header {
  background-color: transparent !important;
}

.ant-tabs-tab {
  background-color: transparent !important;
}

.customized-tab
  > .ant-tabs-nav
  > .ant-tabs-nav-wrap
  > .ant-tabs-nav-list
  > .ant-tabs-tab {
  border: none !important;
}

.customized-tab-active
  > .ant-tabs-nav
  > .ant-tabs-nav-wrap
  > .ant-tabs-nav-list
  > .ant-tabs-tab-active {
  border-top-left-radius: 9px !important;
  border-top-right-radius: 9px !important;
  border-top: 1px solid var(--color-border) !important;
  border-left: 1px solid var(--color-border) !important;
  border-right: 1px solid var(--color-border) !important;
  background-color: var(--color-bg-primary) !important;
  transition: none !important;
}

.ant-card-body-none > .ant-card-body {
  display: none !important;
}

.ant-tabs {
  overflow: unset !important;
}

.ant-divider-vertical {
  height: unset !important;
}

.ant-page-header-heading-left,
.ant-page-header-heading-title {
  width: 100% !important;
}

.ant-table-thead
  > tr
  > th:not(:last-child):not(.ant-table-selection-column):not(.ant-table-row-expand-icon-cell):not([colspan]):before {
  display: none !important;
}

.ant-table-thead > tr > .ant-table-cell {
  /* background-color: var(--color-bg-secondary) !important; */
  background-color: transparent !important;
}

.ant-table-thead > tr > th {
  /* border-bottom: 1px solid var(--color-light-gray); */
  font-weight: 700 !important;
  font-size: 11px;
  text-transform: uppercase !important;
  white-space: inherit;
}

.ant-table-cell {
  font-size: 13px;
}

.ant-notification-notice {
  width: 322px;
  padding: 12px;
  border-radius: 8px;
}

.ant-notification {
  font-size: 10px !important;
}

.ant-notification-notice-with-icon .ant-notification-notice-message {
  font-size: 12px !important;
  color: white;
  font-weight: 600;
  margin: 0px !important;
  padding: 0px !important;
  margin-inline: 8px !important;
}

.ant-notification-notice-icon {
  display: none !important;
}

.ant-notification-notice-with-icon .ant-notification-notice-description {
  margin-inline: 8px !important;
  font-size: 12px !important;
  color: white;
}

.ant-notification-notice-close-x {
  color: white !important;
}

.ant-btn {
  font-size: 13px;
  line-height: 22px;
  height: 32px;
  padding: 4px 15px;
  font-weight: 600;
  border-radius: 2px;
}

.ant-dropdown-trigger {
  background: rgb(17, 18, 23);
  font-size: 14px;
  color: rgb(204, 204, 220);
  border: 1px solid rgba(204, 204, 220, 0.15);
}

.ant-dropdown-menu {
  top: 100%;
  min-width: 200px;
  background-clip: padding-box;
  list-style-type: none;
  box-shadow: 0 0 0 1px rgb(89 105 129 / 10%), 0 3px 20px 0 rgb(89 105 129 / 30%),
    0 1px 2px 0 rgb(0 0 0 / 5%);
  font-size: 13px;
  margin-top: 5px;
  margin-bottom: 5px;
  padding: 5px 0;
  background: #111217;
  text-align: left;
  border-radius: 4px;
}

.ant-input,
.ant-input-affix-wrapper {
  background: var(--color-bg-canvas) !important;
}

.ant-input-affix-wrapper,
.ant-input,
.ant-input-password {
  font-size: 14px;
  color: rgb(204, 204, 220);
  border: 1px solid rgba(204, 204, 220, 0.15);
  position: relative;
  z-index: 0;
  border-radius: 6px;
  width: 100%;
}

.ant-drawer .ant-drawer-content {
  background-color: #181b1f;
}

.ant-drawer-header {
  background-color: #181b1f;
  border-bottom: 1px solid rgba(204, 204, 220, 0.15);
  text-align: center !important;
}

.ant-form-vertical .ant-form-item-label {
  font-size: 11px;
  color: var(--text-secondary);
  font-weight: 600;
}

.ant-tabs-bottom > .ant-tabs-nav:before,
.ant-tabs-bottom > div > .ant-tabs-nav:before,
.ant-tabs-top > .ant-tabs-nav:before,
.ant-tabs-top > div > .ant-tabs-nav:before {
  position: absolute;
  right: 0;
  left: 0;
  content: "";
}

.ant-tabs-tabpane {
  background-color: rgb(24, 27, 31);
  border: 1px solid rgba(204, 204, 220, 0.07);
  border-radius: 8px;
  box-shadow: rgb(24 26 27 / 75%) 0px 1px 2px;
  padding: 32px;
  min-width: 100%;
}

.ant-tabs > .ant-tabs-nav,
.ant-tabs > div > .ant-tabs-nav {
  margin-bottom: 0px !important;
}

.ant-table-row.ant-table-row-level-0:hover {
  background-color: #22252b !important;
}

.ant-table-cell-row-hover {
  background-color: #22252b !important;
}

.ant-btn.ant-btn-background-ghost {
  background: rgba(204, 204, 220, 0.16);
  color: rgb(204, 204, 220);
  border: 1px solid transparent;
}
.ant-btn.ant-btn-background-ghost:hover {
  background-color: #3c3f45;
  color: rgb(204, 204, 220);
  border: 1px solid transparent;
}

.ant-select-single.ant-select-open .ant-select-selection-item {
  color: #ffffff !important;
}

.ant-select {
  background-color: var(--color-bg-canvas);
}

.ant-select-single.ant-select-show-arrow .ant-select-selection-item,
.ant-select-single.ant-select-show-arrow .ant-select-selection-placeholder {
  text-align: start;
}

.ant-table-row.ant-table-row-level-0:hover {
  background-color: transparent !important;
}

.ant-table-placeholder {
  display: none;
}

.ant-picker-range,
.ant-picker-panel-container {
  background-color: var(--color-bg-canvas);
}

.ant-input-search-button {
  display: none;
}

.ant-input-status-error:not(.ant-input-disabled):not(.ant-input-borderless).ant-input,
.ant-input-status-error:not(.ant-input-disabled):not(.ant-input-borderless).ant-input:hover {
  background-color: var(--color-bg-canvas);
}

.rc-virtual-list-holder {
  background-color: var(--color-bg-canvas);
}

.ant-select-dropdown {
  padding: 0px !important;
}
