::-webkit-scrollbar {
  width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgba(204, 204, 220, 0.16);
  border-radius: 4px;
  opacity: 0;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  opacity: 1;
  transition: opacity 0.3s ease-in-out 0s;
}
