@import 'uplot/dist/uPlot.min.css';

.uplot {
  font-family: inherit;
}

.u-select {
  background: rgba(120, 120, 130, 0.2);
}

.u-cursor-x {
  border-right: 1px dashed rgba(120, 120, 130, 0.5);
}

.u-cursor-y {
  width: 100%;
  border-bottom: 1px dashed rgba(120, 120, 130, 0.5);
}

.plot-tooltip {
  pointer-events: none;
  position: absolute;
  margin: 15px;
  padding: 15px;
  background-color: var(--color-bg-canvas);
  border: 2px solid var(--color-border);
  border-radius: 10px;
  font-size: 12px;
  z-index: 1020;
}

.u-over {
  overflow: hidden;
}

.u-mark-x {
  position: absolute;
  display: inline-block;
  height: 100%;
  cursor: pointer;
}

.u-mark-x-label {
  position: absolute;
  transform: translateX(-50%);
  padding: 0 4px;
  background: #fff !important;
}
